.admin-home-container {
  width: Hug (1, 472px)px;
  height: Hug (829px)px;
  gap: 10px;
  opacity: 0px;
}

.admin-content-layout {
  width: 300px;
  height: 140px;
  left: 12px;
  padding: 25px 30px 20px 25px;
  background: rgba(255, 255, 255, 1);

  box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
}

.admin-content-icon {
  width: 80px;
  height: 80px;
  top: 30px;
  left: 245.5px;
  padding: 23.5px 40px 30.5px 40px;
  gap: 0px;
  border-radius: 40px 0px 0px 0px;

}

.admin-content-info-layout {
  width: 400px;
  height: 420px;
  background: rgb(18, 150, 47);
  padding-top: 10px;
  box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
}

.admin-content-info-header {
  width: 166px;
  height: 26px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 600;
  line-height: 25.5px;
  text-align: left;
}

.admin-content-info-row {
  width: 628px;
  height: 52px;
  top: 80px;
  left: 30px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0px;
}

.admin-content-info-icon {
  width: 56px;
  height: 40px;
  padding: 0px;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  opacity: 1;
  /* Cambiado de 0 a 1 para hacer el icono visible */
}

.admin-content-info {
  width: 358px;
  height: 51.8px;
  top: 0.4px;
  left: 56px;
  gap: 0px;
  opacity: 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.9px;
  text-align: left;
}

.admin-content-info-span {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.9px;
  text-align: left;
}