.email-send{
  padding: 80px;
  .rotate-element{
    background-image: url(/images/tasaciones/element.svg);
    animation: rotate 14s linear infinite;
    width: 143px;
    height: 143px;
    border-radius: 100px;
    background-size: cover;
    position: absolute;
    bottom: 30px;
    left: 90px;
  }
    @keyframes rotate {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  .container-email{
      background-color: #F7F7F7;
      width: 90%;
      padding: 80px 100px 60px 130px;
      border-radius: 10px;
      align-items: center;
      justify-content: space-between;
      .info-send{
        width: 500px;
        p{
          font-size: 15px;
          font-weight: 500;
        }
        h1{
          font-size: 20px;
          margin: 0;
        }
      }
      .input-email{
        width: 400px;
        height: 40px;
        label{
          width: 60%;
          height: 100%;
          input{
            width: 100%;
            height: 100%;
            padding: 20px;
            background-color: transparent;
            border: 1px solid #DDDDDD;
          }
          input::placeholder{
            color: #06173D;
          }
        }
        button{
          height: 100%;
          width: 40%;
          background-color: #0451DD;
          color: #F7F7F7;
          border: none; 
          letter-spacing: 1px;
        }
        button:hover{
          background-color: black;
          -ms-transform: scale(1.06); /* IE9 */
          -moz-transform : scale(1.06); /* Firefox */
          -webkit-transform : scale(1.06); /* Chrome - Safari */
          -o-transform : scale(1.06); /* Opera */
          -ms-transform : scale(1.06); /* IE9 */
          transform: scale(1.06);
        }
        button:active{
          transition: 0s;
          background-color: red; 
        }
      }
    }
  }