#tab-aboutus{
    #container-content{
        display: grid;
        grid-template-rows:
            600px
            1000px
            700px
            200px
        ;
        .section-banner{
            background-image: url(/images/aboutus/banner-image.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .section-info{
            display: flex;
            & > * {
                padding: 100px;
                width: 50%;
            }
            h1{ 
                margin-left: 150px;
                text-wrap: nowrap;
            }
            p{ width: 430px; }
            .link{
                font-weight: 800;
                text-decoration-line: underline;
                cursor: pointer;
            } 
        }
        .section-video{
            & > * {
                width: 100%;
                height: 100%;
            }
            .fake-video{
                background-image: url(/images/aboutus/provisional-image-video.png);
                background-size: cover;
            }
        }
        .section-details{
            .container{
                width: 800px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                & > *{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .content{
                        font-weight: 800;
                        font-size: 30px;
                    }
                }
                .element-detail:nth-child(1){
                    width: 160px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 26px;
                }
            }
        }
        .section-service{
            button{
                background-color: transparent;
                color: #06173D;
                font-size: 16px;
                font-weight: 600;
                height: 35px;
                border: 1px solid #0451DD;
                cursor: pointer;
                padding: 0px 40px 0px 40px;
            }
            button:active{
                transition: 0s;
                background-color: rgba(4, 81, 221, 0.25);
            }
        }
    }
}