

#footer{
    background-color: #06173D;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    #container-footer{
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        #container-media, #container-copyright{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            #media{
                width: 15%;
                display: flex;
                justify-content: space-between;
            };
            #container-text{
                #name_company{
                    color: #F4F4F4;
                }
                #copyright{
                    color: #BEBDBD;
                }
                #container-links {
                    color: #BEBDBD;
                }
            }
        }
    }
}




