section{
    padding: 0;
}

#tab-start{
    display: block;
}
#container-content{
    display: grid;
    grid-template-rows: 
        900px
        600px
        850px
        1000px
    ;
}

/* section banner */
/* section banner */
.container-banner{
    background-image: url("/images/image-start/banner-image.png");
    height: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
}

.container-banner > .inf-banner{
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.inf-banner > h1{
    letter-spacing: 5px;
    color: white;
}

.inf-banner > span{
    font-size: larger;
    letter-spacing: 2px;
    color: white;
}

.inf-banner > .arrow-icon{
    margin-top: 20px;
}
/* section banner */
/* section banner */

/* section frame */
/* section frame */
#section-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* frame search */
#section-frame > .frame-search{
    position: absolute;
    width: 50%;
    top: -40px;
}

.frame-search > .pagination-search{
    display: flex;
    height: 24px;
    padding: 0;
}

.pagination-search > li{
    box-shadow: rgba(0, 0, 0, 0.15) 0.5px 0.5px 1px;
    background-color: #F4F4F4;
    color: #717171;
    font-size: 14.5px;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.pagination-search > li:hover:not(.active){
    filter: brightness(0.9);
}

.pagination-search > li:active:not(.active){
    transition: 0s;
    filter: brightness(0.8);
}

.pagination-search > .active{ /* li */
    background-color: #0451DD;
    color: white;
    cursor: default;
}

.pagination-search > li:nth-child(3){
    width: 140px;
}
/* frame search */

/* fetchPLN */
.frame-search > .fetchPLN{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #F4F4F4;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 20px 0 20px 20px;
    gap: 5px;
    
}

.fetchPLN > input{
    width: 100%;
    height: 35px;
    text-indent: 5px;
}

.fetchPLN > .action-fetch{
    display: flex;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.action-fetch > button{
    border: none;
    background-color: #0451DD;
    color: #F4F4F4;
    width: 40px;
    height: 40px;
}

.action-fetch > button:hover{
    filter: brightness(0.9);
}

.action-fetch > button:active{
    transition: 0s;
    filter: brightness(0.6);
}

/* fetchPLN */

/* container action */
#section-frame > .container-action{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.container-action > .component-action{
    width: 350px;
    height: 350px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.component-action > .image-action{
    border: 10px solid #F4F4F4;
}

.component-action > span{
    font-size: larger;
    font-weight: 800;
}

.component-action > button{
    background-color: transparent;
    color: #0451DD;
    font-size: large;
    font-weight: 800;
    letter-spacing: 2px;
    width: 70%;
    height: 13%;
    border: 2.5px solid #0451DD;
    cursor: pointer;
}

.component-action > button:active{
    transition: 0s;
    background-color: rgba(4, 81, 221, 0.25);
}
/* container action */

/* section frame */
/* section frame */


/* section property */
/* section property */
#section-property{
    background-color: #F4F4F4;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* container center */
#section-property > .container-center{
    width: 1230px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}
/* action property */
.container-center > .action-property{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

/* text info */
.action-property > .text-info{
    height: 80px;
}

.text-info > h2{
    margin: 0;
}

.text-info > p{
    margin: 0;
    font-size: larger;
}
/* text info */

.action-property > .control{
    width: 380px;
    display: flex;
    gap: 10px;
}

.control > button{
    background-color: #F4F4F4;
    border: 1px solid #CCCCCC;
    width: 110px;
    height: 40px;
}

.control > button:nth-child(4){
    width: 220px;
}

.control > button:hover:not(.active){
    filter: brightness(0.9);
}

.control > button:active:not(.active){
    transition: 0s;
    filter: brightness(0.8);
}

.control > .active{ /* li */
    background-color: #06173D;
    color: white;
}
/* action property */

/* content */
.container-center > .content{
    width: 100%;
    display: flex;
}
/* content */

/* pagination property */
.pagination-property{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 20px;
    margin-top: 30px;
    gap: 30px;
}

.pagination-property > button{
    background-color: transparent;
    border: none;
}

.pagination-property > .page-property{
    width: 25px;
    display: flex;
    justify-content: space-between;
}

.page-property > div:not(.active){ 
    background-image: url();
}

.page-property > .active{
    background-image: url('/images/image-start/pagination-bullet_margin-active.svg');
}
/* pagination property */

/* container center */

/* section property */
/* section property */

/* section service */
/* section service */
#section-service{
    display: flex;
    align-items: center;
    background-color: #EAF2FF;
}

#section-service > .img-service{
    width: 50%;
    height: 836.36px;
    background-size: cover;
    
}

/* inf service */
#section-service > .inf-service{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inf-service > .container-center{
    height: 85%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* container info */
.container-center > .container-info{
    font-weight: 500;
}

.container-info >  button{
    background-color: transparent;
    color: #06173D;
    font-size: 16px;
    font-weight: 600;
    height: 35px;
    border: 2.5px solid #0451DD;
    cursor: pointer;
    padding: 0px 40px 0px 40px;
}

.container-info > button:active{
    transition: 0s;
    background-color: rgba(4, 81, 221, 0.25);
}

.container-info > .container-list-info > li{
    list-style-type: disc;
}
/* container info */

/* inf service */

/* section service */
/* section service */